.contact-container {
  margin-top: 2rem;
  
  width: 90vw;
  
}

.contact-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  min-width: 60%;

  max-width: 80%;
  margin: 0 auto;
 
}

.contact-details {
  flex-grow: 1;
  text-align: center;
}

button {
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-btn {
  background-color: #dc3545;
}

button:hover {
  transform: scale(1.05);
}

.edit-btn {
  background-color: #3498db;
}

.edit-btn:hover {
  background-color: #2980b9;
}

.delete-btn:hover {
  background-color: #c82333;
}

.phone-number {
  font-weight: bold;
}
